.fw-container:before, .fw-container:after {
  content: " ";
  display: table;
}

.fw-container:after {
  clear: both;
}

.fw-u-12, .fw-u-10, .fw-u-10, .fw-u-9, .fw-u-8, .fw-u-7, .fw-u-6, .fw-u-5, .fw-u-4, .fw-u-3, .fw-u-2, .fw-u-1 {
  float: left;
  padding: 3px 5px;
}

.fw-container-inline {
  letter-spacing: -.31em;
}

.fw-container-inline .fw-u-inline {
  vertical-align: top;
  float: none;
  display: inline-block;
  letter-spacing: normal;
}

.fw-container-inline .fw-u-inline.fw-middle, .fw-middle {
  vertical-align: middle;
}

.fw-container-inline .fw-u-inline.fw-bottom, .fw-bottom {

  vertical-align: bottom;
}

.right {
  float: right !important;
}

.left {
  float: left !important;
}

.fw-u-12 {
  width: 100%
}

.fw-u-11 {
  width: 91.66666666666666%
}

.fw-u-10 {
  width: 83.33333333333334%
}

.fw-u-9 {
  width: 75%
}

.fw-u-8 {
  width: 66.66666666666666%
}

.fw-u-7 {
  width: 58.333333333333336%
}

.fw-u-6 {
  width: 50%
}

.fw-u-5 {
  width: 41.66666666666667%
}

.fw-u-4 {
  width: 33.33333333333333%
}

.fw-u-3 {
  width: 25%
}

.fw-u-2 {
  width: 16.666666666666664%
}

.fw-u-1 {
  width: 8.333333333333332%
}

.fw-u-v-12 {
  height: 100%
}

.fw-u-v-11 {
  height: 91.66666666666666%
}

.fw-u-v-10 {
  height: 83.33333333333334%
}

.fw-u-v-9 {
  height: 75%
}

.fw-u-v-8 {
  height: 66.66666666666666%
}

.fw-u-v-7 {
  height: 58.333333333333336%
}

.fw-u-v-6 {
  height: 50%
}

.fw-u-v-5 {
  height: 41.66666666666667%
}

.fw-u-v-4 {
  height: 33.33333333333333%
}

.fw-u-v-3 {
  height: 25%
}

.fw-u-v-2 {
  height: 16.666666666666664%
}

.fw-u-v-1 {
  height: 8.333333333333332%
}

.fw-u-12 {
  width: 100%
}

.fw-u-11 {
  width: 91.66666666666666%
}

.fw-u-10 {
  width: 83.33333333333334%
}

.fw-u-9 {
  width: 75%
}

.fw-u-8 {
  width: 66.66666666666666%
}

.fw-u-7 {
  width: 58.333333333333336%
}

.fw-u-6 {
  width: 50%
}

.fw-u-5 {
  width: 41.66666666666667%
}

.fw-u-4 {
  width: 33.33333333333333%
}

.fw-u-3 {
  width: 25%
}

.fw-u-2 {
  width: 16.666666666666664%
}

.fw-u-1 {
  width: 8.333333333333332%
}

.fw-u-1, .fw-u-2, .fw-u-3, .fw-u-4, .fw-u-5, .fw-u-6, .fw-u-7, .fw-u-8, .fw-u-9, .fw-u-10, .fw-u-11, .fw-u-12 {
  float: left;
  display: block;
}

.fw-u-offset-12 {
  margin-left: 100%
}

.fw-u-offset-11 {
  margin-left: 91.66666666666666%
}

.fw-u-offset-10 {
  margin-left: 83.33333333333334%
}

.fw-u-offset-9 {
  margin-left: 75%
}

.fw-u-offset-8 {
  margin-left: 66.66666666666666%
}

.fw-u-offset-7 {
  margin-left: 58.333333333333336%
}

.fw-u-offset-6 {
  margin-left: 50%
}

.fw-u-offset-5 {
  margin-left: 41.66666666666667%
}

.fw-u-offset-4 {
  margin-left: 33.33333333333333%
}

.fw-u-offset-3 {
  margin-left: 25%
}

.fw-u-offset-2 {
  margin-left: 16.666666666666664%
}

.fw-u-offset-1 {
  margin-left: 8.333333333333332%
}

.fw-u-offset-0 {
  margin-left: 0
}

.fw-u-append-12 {
  margin-right: 100%
}

.fw-u-append-11 {
  margin-right: 91.66666666666666%
}

.fw-u-append-10 {
  margin-right: 83.33333333333334%
}

.fw-u-append-9 {
  margin-right: 75%
}

.fw-u-append-8 {
  margin-right: 66.66666666666666%
}

.fw-u-append-7 {
  margin-right: 58.333333333333336%
}

.fw-u-append-6 {
  margin-right: 50%
}

.fw-u-append-5 {
  margin-right: 41.66666666666667%
}

.fw-u-append-4 {
  margin-right: 33.33333333333333%
}

.fw-u-append-3 {
  margin-right: 25%
}

.fw-u-append-2 {
  margin-right: 16.666666666666664%
}

.fw-u-append-1 {
  margin-right: 8.333333333333332%
}

.fw-u-append-0 {
  margin-right: 0
}

.fw-flex {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
}

.fw-flex > .fw-g-1 {
  @include flex(1);
}

.fw-flex > .fw-g-1, .fw-flex > .fw-g-2, .fw-flex > .fw-g-3, .fw-flex > .fw-g-4 {
  position: relative;
}

.fw-flex .fw-g-wrapper {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.fw-flex > .fw-g-2 {
  @include flex(2);
}

.fw-flex > .fw-g-3 {
  @include flex(3);
}

.fw-flex > .fw-g-4 {
  @include flex(4);
}

.fw-flex.fw-col {

  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
